@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

/*==================================================
=            Bootstrap Media Queries               =
==================================================*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    /*==================================================
=   Erlich                                         =
==================================================*/
    div#know {
        position: relative;
        height: 456px;
        background-image: url('../img/Erlick-mobil.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    /*I know HTML*/
    #mobile-scale-it {
        margin-top: 330px;
        /*background: brown*/
    }
    /*Course I did on treehouse*/
    #smush-it {
        margin-top: px;
        font-size: 30px;
    }
    /*All Two Websites I've Created*/
    #fade-it {
        font-size: 30px;
    }
    /*You Know What to Do*/
    #spin-it {
        font-size: 25px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    /*==================================================
=   Erlich BG                                      =
==================================================*/
    div#know {
        position: relative;
        height: 455px;
        background-image: url('../img/Erlick-mobil.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    /*I know HTML*/
    #scale-it {
        margin-top: 220px;
        background: yellow
    }
    /*Course I did on treehouse*/
    #mobile-smush-it {
        margin-top: 50px;
        font-size: 50px;
    }
    /*All Two Websites I've Created*/
    #fade-it {
        font-size: 30px;
    }
    /*You Know What to Do*/
    #spin-it {
        font-size: 25px;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    /*==================================================
=   Erlich BG                                      =
==================================================*/
    div#know {
        position: relative;
        height: 650px;
        background-image: url('../img/Erlick-tablet.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    /*I know HTML*/
    #scale-it {
        margin-top: 550px;
        background: green
    }
    /*Course I did on treehouse*/
    #smush-it {
        margin-top: 50px;
        font-size: 45px;
    }
    /*All Two Websites I've Created*/
    #fade-it {
        font-size: 50px;
    }
    /*You Know What to Do*/
    #spin-it {
        font-size: 45px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    /*==================================================
=   Erlich BG                                      =
==================================================*/
    div#know {
        position: relative;
        height: 850px;
        background-image: url('../img/Erlick-tablet.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    /*I know HTML*/
    #scale-it {
        margin-top: 650px;
        background: blue
    }
    /*Course I did on treehouse*/
    #smush-it {
        margin-top: 50px;
        font-size: 70px;
    }
    /*All Two Websites I've Created*/
    #fade-it {
        font-size: 65px;
    }
    /*You Know What to Do*/
    #spin-it {
        font-size: 38px;
    }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1430px) {
    /*==================================================
=   Erlich BG                                      =
==================================================*/
    div#know {
        position: relative;
        height: 800px;
        background-image: url('../img/i-know-html.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #scale-it {
        background: red;
    }
}


/*XL Large Devices, XL Screens */

@media only screen and (min-width: 1900px) {
    /*==================================================
=   Erlich BG                                      =
==================================================*/
    div#know {
        position: relative;
        height: 1050px;
        background-image: url('../img/i-know-html.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #scale-it {
        margin-top: 900px;
        background: purple;
    }
    /*Course I did on treehouse*/
    #smush-it {
        margin-top: 50px;
        font-size: 100px;
    }
}

/*==================================================
=            Bootstrap Media Queries END           =
==================================================*/


/*==================================================
=              Background Styles                   =
==================================================*/

body {
    background-image: url("../img/stardust.png");
    background-repeat: repeat;
    /*margin-top: 50px;*/
}

div#know {
    /*bottom shaddow out side*/
    box-shadow: 0px 2px 20px white;
}

div#what {
    background: rgba(31, 38, 18, .4);
    box-shadow: 0px 2px 20px white;
}

div#where {

}

div#how {
    padding-top: 140px;
    height: 900px;
    background: rgba(31, 38, 18, .6);
    box-shadow: inset 0 20px 20px -20px white;
}

footer{
    box-shadow: inset 0 20px 20px -20px white;
}


/*==================================================
=                    Fonts                         =
==================================================*/

h1,
h2,
h3,
h4,
h5,
h6,
.card-title,
.card-text,
.card-subtitle,
.list-group-item,
a,
label,
.nav,
.nav-item,
.nav-item,
{
    font-family: 'Source Code Pro', ;
}

.card-subtitle,
.card-title {
    font-weight: 400;
}


/*==================================================
=                  Nav Styles                      =
==================================================*/

.navbar-toggler {
    padding: 1.2rem;
    font-size: 1.25rem;
    line-height: 1;
    /*border: 2px solid lightgoldenrodyellow;*/
    border-radius: 4rem;
    margin-top: 18px;
    margin-left: 8px;
    background: steelblue;
    outline: none !important;
}

.navbar-toggler:hover {
   /* background: chocolate;*/
    border: 2px solid chocolate;
    outline: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none;
}

/*style="margin-left: -15px"*/
.navbar-nav {
    margin-left: -12px
}

.nav-item {
    background: steelblue;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: -10px;
    border-radius: 10px;
}

.navbar .navbar-nav a {
    color: white;
    padding: 10px;
}

.navbar .navbar-nav .active a {
    font-weight: 700;
    color: deeppink;
    border-bottom: 4px solid chocolate;
    border-radius: 10px;
}

.navbar .navbar-nav a:hover {
    font-weight: 700;
    color: deeppink;
    border-bottom: 4px solid chocolate;
    border-radius: 10px;
}

.navbar .footer-nav a:hover {
    color: #674d90;
    border-bottom: none;
    text-decoration: none;
}


/*==================================================
=                Superscrollorama                  =
==================================================*/

h2 {
    position: absolute;
    text-align: center;
    font-weight: bold;
    margin: 0;
    color: chocolate;
    text-shadow: 0 2px 1px black;
    font-family: 'Source Code Pro', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, Gadget, sans-serif;
}

h2.css3 {
    /*font-size: 30px;*/
    font-weight: bold;
    text-align: center;
    color: steelblue;
    text-shadow: 0 2px 1px black;
    font-family: 'Source Code Pro', , Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, Gadget, sans-serif;
}


/*==================================================
=                   Form                           =
==================================================*/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}*/


}
form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}
h1 {
    margin: 0 0 30px 0;
    text-align: center;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}
input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}
select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}
.buttons {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}
.buttons:hover {
    background-color: lightgreen;
    border: 1px solid lightgoldenrodyellow;
    border-width: 1px 1px 3px;
}
.card-link {
    color: #FFF;
}
.card-link:hover {
    color: #8a97a0;
}
.card-link:not(.nohover):hover,
a:visited,
.card-link {
    color: #FFF;
    text-decoration: none !important;
}
fieldset {
    margin-bottom: 30px;
    border: none;
}
legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 8px;
}
label.light {
    font-weight: 300;
    display: inline;
}
.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}
